In [83]:
import pandas as pd
gsheetid = r"1QG1blG-IKPs-GSikyQmyvqoU4s5On_kc"
sheetname = r'User_IDs'
sheetname2 = r'Rigorbuilder_RAW'
gsheet_url = r"https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(gsheetid, sheetname)
gsheet_url2 = r"https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(gsheetid, sheetname2)
df = pd.read_csv(gsheet_url)
df2 = pd.read_csv(gsheet_url2)
print(df)
print(df2)
print(df2['name'])

    Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN

    About the Activity We conducted an activity within DeepThought across different teams.  All the members watched a video, identified insights from the same. Then they selected some statements and tried to giver possible reasons Each reason was once again evaluated by the process of rigor. The two input sheets were created from the data of activity. We made a sample leaderboard for the same (in the output sheets). S No  \
0                                                 1.0
1                                                 2.0
2                                                 3.0
3                                                 4.0
4                                                 5.0
5                                                 6.0
6                                                 7.0
7                                                 8.0
8                                                 9.0
9                                                10.0
10                                               11.0
11                                               12.0
12                                               13.0
13                                               14.0
14                                               15.0
15                                               16.0
16                                               17.0
17                                               18.0
18                                               19.0
19                                               20.0
20                                               21.0
21                                                NaN
22                                                NaN
23                                                NaN

                Name            Team Name  User ID  Unnamed: 7
0          Soumita M  Winning Culture Lab    280.0         NaN
1         Subhangi 0  Winning Culture Lab     75.0         NaN
2        Nitin Shane  Winning Culture Lab   1124.0         NaN
3             Merwin               Mentor    295.0         NaN
4      fardinkamal62    Human Capital Lab    263.0         NaN
5      __riddhi_213_    Human Capital Lab    504.0         NaN
6        Rohit Dutta               Mentor    266.0         NaN
7           imshawan             Tech Lab     71.0         NaN
8       Anuraj_Saini        BrandTech Lab    342.0         NaN
9            sharath  Student Unicorn Lab   3367.0         NaN
10           Ronak 0             Tech Lab    302.0         NaN
11     Amrit Malviya        Brandtech Lab    336.0         NaN
12           Saurabh               Mentor    271.0         NaN
13       darshimalde  Student Unicorn Lab   3169.0         NaN
14            Shagun             Tech Lab    100.0         NaN
15            Ayisha  Student Unicorn Lab   3406.0         NaN
16            Palash            Growpital     69.0         NaN
17             raman            Growpital    539.0         NaN
18           Nishant            Growpital    299.0         NaN
19            Vatsal              Kringle   3408.0         NaN
20          devmenkr              Kringle    360.0         NaN
21               NaN          Sup Eco App      NaN         NaN
22     Gautam Pandey                  NaN      NaN         NaN
23  Harshali Pophali                  NaN      NaN         NaN
    Unnamed: 0  Unnamed: 1  \
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN
5          NaN         NaN
6          NaN         NaN
7          NaN         NaN
8          NaN         NaN
9          NaN         NaN
10         NaN         NaN
11         NaN         NaN
12         NaN         NaN
13         NaN         NaN
14         NaN         NaN
15         NaN         NaN
16         NaN         NaN
17         NaN         NaN
18         NaN         NaN
19         NaN         NaN
20         NaN         NaN

    About the page Here's a list of the same 21 individuals. They took part in an activity where they identified a statements and reasons.  We have taken the data from the activity and presented in the table.   We ask you to count the number of statements and reasons through a python script and replicate the two output leaderboards.  S No  \
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                 11
11                                                 12
12                                                 13
13                                                 14
14                                                 15
15                                                 16
16                                                 17
17                                                 18
18                                                 19
19                                                 20
20                                                 21

             name   uid  total_statements  total_reasons  Unnamed: 7  \
0       Soumita M   280                13             21         NaN
1      Subhangi 0    75                13             16         NaN
2     Nitin Shane  1124                12             11         NaN
3          Merwin   295                13             12         NaN
4   fardinkamal62   263                 2              2         NaN
5   __riddhi_213_   504                 2              7         NaN
6     Rohit Dutta   266                 3              3         NaN
7        imshawan    71                 9              9         NaN
8    Anuraj_Saini   342                 7              7         NaN
9         sharath  3367                 8              8         NaN
10        Ronak 0   302                16             19         NaN
11  Amrit Malviya   336                 2              4         NaN
12        Saurabh   271                 6              8         NaN
13    darshimalde  3169                 3              3         NaN
14         Shagun   100                 2              2         NaN
15         Ayisha  3406                11              8         NaN
16         Palash    69                 6              7         NaN
17          raman   539                 5              5         NaN
18        Nishant   299                 4              5         NaN
19         Vatsal  3408                 2              2         NaN
20       devmenkr   360                 7              7         NaN

                                          Statement 1  \
0   managers' job based on where company's lifecycle.
1   story that tells about the company, you need t...
2                                 num --- Engineering
3                                 The earth is round.
4   I've always loved the Victorian period in Engl...
5                                       Different pov
6   At least one person working with DT is a produ...
7   Behind the scenes and manage different and thi...
8                            look for a better option
9            I have a dream that is not in the script
10  being quick to start and late to finish can ac...
11                              first mover advantage
12  I just need to upgratde my - who look for bett...
13  not accepting default and taking initiative to...
14                    originals are late to the party
15                     Originals also have self doubt
16                       Idea doubt is invigourating.
17  to improve on someone else's ideas is easy the...
18  it's always better to improve on someone's ide...
19  Procrastination does not always help in curiosity
20  Bad ideas teach us what not to do Which is als...

   Here, the statements identified by people are listed. Some of the entries might be duplicated, but we are not checking for that right now. Statement 2  \
0   managers' job based on where company's lifecycle.
1       good valuation - should have number and story
2                     numbers are good for evaluating
3         There are eight planets in our Solar System
4   I've always loved the Victorian period in Engl...
5       Difference between discussion and interaction
6     At least one person in DT is a product creator.
7                      They have the courage to do it
8   I have the most creative ideas when I am procr...
9                 original people maybe have bad idea
10  being quick to start and late to finish can ac...
11                 procrastination vs procrastination
12  we can predict your job commitment - there is ...
13     procrastination gives time to think and build.
14  You can't doubt you need a lot of bad ideas to...
15  sometimes because of all the bad ideas, doubts...
16  But they have different methods of handling fear.
17  originals are the ones who fails the most and ...
18  Procrastinators who rush into things might be ...
19  Procrastination does not always help in curiosity
20      More failures can lead to high-quality ideas.

    ...                                       Statement 13  \
0   ...  while counting students timing should be noted...
1   ...           sometimes 100% effort leads to 0% result
2   ...                                                NaN
3   ...           why sharing pareto's law is significant?
4   ...                                                 --
5   ...                                                 --
6   ...                                                 --
7   ...                                                 --
8   ...                                                 --
9   ...                                                 --
10  ...                     originals are non conformists.
11  ...                                                 --
12  ...                                                 --
13  ...                                                 --
14  ...                                                 --
15  ...                                                 --
16  ...                                                 --
17  ...                                                 --
18  ...                                                 --
19  ...                                                 --
20  ...                                                 --

                      Statement 14  \
0                               --
1                               --
2                               --
3                               --
4                               --
5                               --
6                               --
7                               --
8                               --
9                               --
10  originals are non conformists.
11                              --
12                              --
13                              --
14                              --
15                              --
16                              --
17                              --
18                              --
19                              --
20                              --

                                        Statement 15  \
0                                                 --
1                                                 --
2                                                 --
3                                                 --
4                                                 --
5                                                 --
6                                                 --
7                                                 --
8                                                 --
9                                                 --
10  recognising the originals and becoming like them
11                                                --
12                                                --
13                                                --
14                                                --
15                                                --
16                                                --
17                                                --
18                                                --
19                                                --
20                                                --

                                         Statement 16 Unnamed: 24 Unnamed: 25  \
0                                                  --         NaN         NaN
1                                                  --         NaN         NaN
2                                                  --         NaN         NaN
3                                                  --         NaN         NaN
4                                                  --         NaN         NaN
5                                                  --         NaN         NaN
6                                                  --         NaN         NaN
7                                                  --         NaN         NaN
8                                                  --         NaN         NaN
9                                                  --         NaN         NaN
10  adam took nintendo games very seriously. he di...         NaN         NaN
11                                                 --         NaN         NaN
12                                                 --         NaN         NaN
13                                                 --         NaN         NaN
14                                                 --         NaN         NaN
15                                                 --         NaN         NaN
16                                                 --         NaN         NaN
17                                                 --         NaN         NaN
18                                                 --         NaN         NaN
19                                                 --         NaN         NaN
20                                                 --         NaN         NaN

   Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29
0          NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN
9          NaN         NaN         NaN         NaN
10         NaN         NaN         NaN         NaN
11         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN
14         NaN         NaN         NaN         NaN
15         NaN         NaN         NaN         NaN
16         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN

[21 rows x 30 columns]
0         Soumita M
1        Subhangi 0
2       Nitin Shane
3            Merwin
4     fardinkamal62
5     __riddhi_213_
6       Rohit Dutta
7          imshawan
8      Anuraj_Saini
9           sharath
10          Ronak 0
11    Amrit Malviya
12          Saurabh
13      darshimalde
14           Shagun
15           Ayisha
16           Palash
17            raman
18          Nishant
19           Vatsal
20         devmenkr
Name: name, dtype: object

In [84]:
df_copy = df
df2_copy = df2
numbers_of_team_members = []
team_names_members = {}
team_names_reasons = {}
z = -1
l = -1
for i in range(len(df['Team Name'])):
    df['Team Name'][i] = str(df['Team Name'][i]).lower()
for i in df['Team Name']:
    z+=1
    if i not in team_names_members:
        team_names_members[i] = [df['Name'][z]]
    else:
        team_names_members[i] += [df['Name'][z]]
print("this is required result", team_names_members)

this is required result {'winning culture lab': ['Soumita M', 'Subhangi 0', 'Nitin Shane'], 'mentor': ['Merwin', 'Rohit Dutta', 'Saurabh'], 'human capital lab': ['fardinkamal62', '__riddhi_213_'], 'tech lab': ['imshawan', 'Ronak 0', 'Shagun'], 'brandtech lab': ['Anuraj_Saini', 'Amrit Malviya'], 'student unicorn lab': ['sharath', 'darshimalde', 'Ayisha'], 'growpital': ['Palash', 'raman', 'Nishant'], 'kringle': ['Vatsal', 'devmenkr'], 'sup eco app': [nan], 'nan': ['Gautam Pandey', 'Harshali Pophali']}

<ipython-input-84-84dd188aca9c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Team Name'][i] = str(df['Team Name'][i]).lower()

In [85]:
total_statements = []
total_reasons = []
division_list = []
index = -1
for i in team_names_members:
    division_var = 0
    dict_to_add_state ={i:0}
    dict_to_add_res ={i:0}
    index+=1
    for j in team_names_members[i]:
        division_var +=1
        h = -1
        for k in df2['name']:
            h+=1
            if (str(j).lower())==(k.lower()):
                break
        l = -1
        for k in df2['total_statements']:
            l+=1
            if l==h:
                dict_to_add_state[i] += k
        l = -1
        for k in df2['total_reasons']:
            l+=1
            if l==h:
                dict_to_add_res[i] += k
    total_statements.append(dict_to_add_state)
    total_reasons.append(dict_to_add_res)
    division_list.append(division_var)

for i in range(len(total_statements)):
    total_statements[i][list(total_statements[i].keys())[0]]= list(total_statements[i].values())[0]/division_list[i]
    total_reasons[i][list(total_reasons[i].keys())[0]]= list(total_reasons[i].values())[0]/division_list[i]
print(total_statements)
print(total_reasons)

[{'winning culture lab': 12.666666666666666}, {'mentor': 7.333333333333333}, {'human capital lab': 2.0}, {'tech lab': 9.0}, {'brandtech lab': 4.5}, {'student unicorn lab': 7.333333333333333}, {'growpital': 5.0}, {'kringle': 4.5}, {'sup eco app': 7.0}, {'nan': 7.0}]
[{'winning culture lab': 16.0}, {'mentor': 7.666666666666667}, {'human capital lab': 4.5}, {'tech lab': 10.0}, {'brandtech lab': 5.5}, {'student unicorn lab': 6.333333333333333}, {'growpital': 5.666666666666667}, {'kringle': 4.5}, {'sup eco app': 7.0}, {'nan': 7.0}]

In [86]:
details = []
sums = []
for i in df2['total_statements']:
    sums.append(i)
i = -1
for j in df2['total_reasons']:
    i+=1
    sums[i] += j
print((sums))

[34, 29, 23, 25, 4, 9, 6, 18, 14, 16, 35, 6, 14, 6, 4, 19, 13, 10, 9, 4, 14]

In [87]:
listoutput1 = [['Team Rank','Thinking Teams Leaderboard	','Average Statements','Average Reasons']]

In [88]:
final = {}
h = -1
for i in total_statements:
    h+=1
    final[list(i.keys())[0]] = list(i.values())[0] + total_reasons[h][list(i.keys())[0]]
print(final)


final_vals = sorted(final.items(), key=lambda x:x[1], reverse=True)
final = dict(final_vals)
for j in enumerate(final):
    print(j)

{'winning culture lab': 28.666666666666664, 'mentor': 15.0, 'human capital lab': 6.5, 'tech lab': 19.0, 'brandtech lab': 10.0, 'student unicorn lab': 13.666666666666666, 'growpital': 10.666666666666668, 'kringle': 9.0, 'sup eco app': 14.0, 'nan': 14.0}
(0, 'winning culture lab')
(1, 'tech lab')
(2, 'mentor')
(3, 'sup eco app')
(4, 'nan')
(5, 'student unicorn lab')
(6, 'growpital')
(7, 'brandtech lab')
(8, 'kringle')
(9, 'human capital lab')

In [89]:
done = []
h = 0
print(final)
for i in final:
    h+=1
    z = -1
    for k in total_statements:
        z+=1
        if list(k.keys())[0] == i:
            break
            break
    g = -1
    for l in total_reasons:
        g+=1
        if list(l.keys())[0] == i:
            break
            break
    list_to_append = [h,i, total_statements[z][i], total_reasons[g][i]]
    if i not in done:
        listoutput1.append(list_to_append)
        done.append(i)
        print(done)

{'winning culture lab': 28.666666666666664, 'tech lab': 19.0, 'mentor': 15.0, 'sup eco app': 14.0, 'nan': 14.0, 'student unicorn lab': 13.666666666666666, 'growpital': 10.666666666666668, 'brandtech lab': 10.0, 'kringle': 9.0, 'human capital lab': 6.5}
['winning culture lab']
['winning culture lab', 'tech lab']
['winning culture lab', 'tech lab', 'mentor']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app', 'nan']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app', 'nan', 'student unicorn lab']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app', 'nan', 'student unicorn lab', 'growpital']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app', 'nan', 'student unicorn lab', 'growpital', 'brandtech lab']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app', 'nan', 'student unicorn lab', 'growpital', 'brandtech lab', 'kringle']
['winning culture lab', 'tech lab', 'mentor', 'sup eco app', 'nan', 'student unicorn lab', 'growpital', 'brandtech lab', 'kringle', 'human capital lab']

In [90]:
newDataFrame = pd.DataFrame(listoutput1)

In [91]:
print(newDataFrame)

            0                             1                   2  \
0   Team Rank  Thinking Teams Leaderboard\t  Average Statements
1           1           winning culture lab           12.666667
2           2                      tech lab                 9.0
3           3                        mentor            7.333333
4           4                   sup eco app                 7.0
5           5                           nan                 7.0
6           6           student unicorn lab            7.333333
7           7                     growpital                 5.0
8           8                 brandtech lab                 4.5
9           9                       kringle                 4.5
10         10             human capital lab                 2.0

                  3
0   Average Reasons
1              16.0
2              10.0
3          7.666667
4               7.0
5               7.0
6          6.333333
7          5.666667
8               5.5
9               4.5
10              4.5

In [146]:
listoutput2 = [['Name','Rank','UID','No. of statements','No. of reasons']]

In [147]:
UID_lst = []
sum_of_statement_and_reason = []
j = -1
uid = []

for i in df2['total_statements']:
    j+=1
    sum_of_statement_and_reason.append([(i + df2['total_reasons'][j]),df2['name'][j],(df2['uid'][j]), i, df2['total_reasons'][j]])

In [148]:
print(sum_of_statement_and_reason)

[[34, 'Soumita M', 280, 13, 21], [29, 'Subhangi 0', 75, 13, 16], [23, 'Nitin Shane', 1124, 12, 11], [25, 'Merwin', 295, 13, 12], [4, 'fardinkamal62', 263, 2, 2], [9, '__riddhi_213_', 504, 2, 7], [6, 'Rohit Dutta', 266, 3, 3], [18, 'imshawan', 71, 9, 9], [14, 'Anuraj_Saini', 342, 7, 7], [16, 'sharath', 3367, 8, 8], [35, 'Ronak 0', 302, 16, 19], [6, 'Amrit Malviya', 336, 2, 4], [14, 'Saurabh', 271, 6, 8], [6, 'darshimalde', 3169, 3, 3], [4, 'Shagun', 100, 2, 2], [19, 'Ayisha', 3406, 11, 8], [13, 'Palash', 69, 6, 7], [10, 'raman', 539, 5, 5], [9, 'Nishant', 299, 4, 5], [4, 'Vatsal', 3408, 2, 2], [14, 'devmenkr', 360, 7, 7]]

In [149]:
sum_of_statement_and_reason=sorted(sum_of_statement_and_reason, reverse = True)

In [150]:
print(sum_of_statement_and_reason)

[[35, 'Ronak 0', 302, 16, 19], [34, 'Soumita M', 280, 13, 21], [29, 'Subhangi 0', 75, 13, 16], [25, 'Merwin', 295, 13, 12], [23, 'Nitin Shane', 1124, 12, 11], [19, 'Ayisha', 3406, 11, 8], [18, 'imshawan', 71, 9, 9], [16, 'sharath', 3367, 8, 8], [14, 'devmenkr', 360, 7, 7], [14, 'Saurabh', 271, 6, 8], [14, 'Anuraj_Saini', 342, 7, 7], [13, 'Palash', 69, 6, 7], [10, 'raman', 539, 5, 5], [9, '__riddhi_213_', 504, 2, 7], [9, 'Nishant', 299, 4, 5], [6, 'darshimalde', 3169, 3, 3], [6, 'Rohit Dutta', 266, 3, 3], [6, 'Amrit Malviya', 336, 2, 4], [4, 'fardinkamal62', 263, 2, 2], [4, 'Vatsal', 3408, 2, 2], [4, 'Shagun', 100, 2, 2]]

In [151]:
rank = 0
for i in sum_of_statement_and_reason:
    rank+=1
    list_to_append2 = [i[1], rank, i[2], i[3],i[4]]
    listoutput2.append(list_to_append2)

In [152]:
print(listoutput2)

[['Name', 'Rank', 'UID', 'No. of statements', 'No. of reasons'], ['Ronak 0', 1, 302, 16, 19], ['Soumita M', 2, 280, 13, 21], ['Subhangi 0', 3, 75, 13, 16], ['Merwin', 4, 295, 13, 12], ['Nitin Shane', 5, 1124, 12, 11], ['Ayisha', 6, 3406, 11, 8], ['imshawan', 7, 71, 9, 9], ['sharath', 8, 3367, 8, 8], ['devmenkr', 9, 360, 7, 7], ['Saurabh', 10, 271, 6, 8], ['Anuraj_Saini', 11, 342, 7, 7], ['Palash', 12, 69, 6, 7], ['raman', 13, 539, 5, 5], ['__riddhi_213_', 14, 504, 2, 7], ['Nishant', 15, 299, 4, 5], ['darshimalde', 16, 3169, 3, 3], ['Rohit Dutta', 17, 266, 3, 3], ['Amrit Malviya', 18, 336, 2, 4], ['fardinkamal62', 19, 263, 2, 2], ['Vatsal', 20, 3408, 2, 2], ['Shagun', 21, 100, 2, 2]]

In [153]:
DataFrame2 = pd.DataFrame(listoutput2)

In [154]:
print(DataFrame2)

                0     1     2                  3               4
0            Name  Rank   UID  No. of statements  No. of reasons
1         Ronak 0     1   302                 16              19
2       Soumita M     2   280                 13              21
3      Subhangi 0     3    75                 13              16
4          Merwin     4   295                 13              12
5     Nitin Shane     5  1124                 12              11
6          Ayisha     6  3406                 11               8
7        imshawan     7    71                  9               9
8         sharath     8  3367                  8               8
9        devmenkr     9   360                  7               7
10        Saurabh    10   271                  6               8
11   Anuraj_Saini    11   342                  7               7
12         Palash    12    69                  6               7
13          raman    13   539                  5               5
14  __riddhi_213_    14   504                  2               7
15        Nishant    15   299                  4               5
16    darshimalde    16  3169                  3               3
17    Rohit Dutta    17   266                  3               3
18  Amrit Malviya    18   336                  2               4
19  fardinkamal62    19   263                  2               2
20         Vatsal    20  3408                  2               2
21         Shagun    21   100                  2               2

In [155]:
print(newDataFrame)

            0                             1                   2  \
0   Team Rank  Thinking Teams Leaderboard\t  Average Statements
1           1           winning culture lab           12.666667
2           2                      tech lab                 9.0
3           3                        mentor            7.333333
4           4                   sup eco app                 7.0
5           5                           nan                 7.0
6           6           student unicorn lab            7.333333
7           7                     growpital                 5.0
8           8                 brandtech lab                 4.5
9           9                       kringle                 4.5
10         10             human capital lab                 2.0

                  3
0   Average Reasons
1              16.0
2              10.0
3          7.666667
4               7.0
5               7.0
6          6.333333
7          5.666667
8               5.5
9               4.5
10              4.5

In [157]:
file_name = 'Output1.xlsx'
newDataFrame.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')
file_name = 'Output2.xlsx'
DataFrame2.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.
DataFrame is written to Excel File successfully.